.btn-submit__create-todo {
  background-color: #3366ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.btn-cancel {
  font-weight: bold;
  margin-left: 0.5rem;
}

.item-completed {
  text-decoration: line-through;
}
