.signout-button {
  background-color: #e1e2e3;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  float: right;
  margin: 1rem;
  color: #4b4b4b;
  font-weight: bold;
  &:hover {
    transition: all ease-in-out 0.1s;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  }
}

.todo__container {
  margin: 0 auto;
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.todo__title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.todo__form {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  width: 100%;
  position: relative;
  input {
    border: solid 1px #e1e2e3;
    width: 100%;
    max-width: 20rem;
    height: 2.2rem;
    border-radius: 5px;
    padding-left: 0.5rem;
    margin-right: 1rem;
    &:focus {
      border: solid 1px transparent;
      outline: solid 1px #3366ff;
    }
  }
}

.todo__form-desc {
  position: absolute;
  bottom: -25px;
  right: 110px;
  font-size: 0.9rem;
  color: #888888;
}

.btn-submit__create-todo {
  background-color: #3366ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  height: 2.2rem;
}

.todo__list {
  display: flex;
  flex-direction: column-reverse;
}

.list-item {
  height: 2rem;
  font-size: 1rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.list-item-desc__wrapper {
  display: flex;
  width: calc(100% - 60px);
}

.list-item__desc {
  font-size: 1rem;
  line-height: 2rem;
  margin-left: 0.5rem;
  width: 100%;
}

.completed {
  text-decoration: line-through;
}

.list-item__edit-input {
  margin-left: 0.2rem;
  width: 100%;
}

.a11y-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button-wrapper {
  margin-left: 0.5rem;
  button:first-child {
    margin-right: 0.5rem;
  }
}
